body
		{
			font-family: Arial, sans-serif;
		}
		.menu-item
		{
			font-size: 13px;
			color: rgba(0,0,0,0.87);
			text-decoration: none;
			position: relative;
			top: -20px;
			margin-right: 16px;
			text-align: center;

		}
		.menu-item:hover
		{
			text-decoration: underline;
		}
		#profile-pic
		{
			height: 33px;
			width:33px;
			border-radius: 25px;
			margin-bottom: 8px;
		}
		nav	
		{
			text-align: right;
			padding-top: 10px;
			margin-right: 12px;
		}
		#dropdown-menu
		{
			top: -13px;
			position: relative;
			margin-right: 16px;
			color: rgba(0,0,0,0.57);

		}
		section
		{
			text-align: center;
			padding-top:7%;
		}

		#search-box
		{
			width: 100%;
			color: #222;
			border:1px solid #dfe1e5;
			font-size: 13px;
			padding: 14px;
			border-radius: 24px;
			outline: none;
			margin-top: 24px;
			margin-bottom: 24px;
		}
		#search-box:hover
		{
			box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
		}
		#search-box:focus
		{
			box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
		}
		#input-wrapper
		{
			position: relative;
			width: 583px;
			display: inline-block;
		}
		#input-wrapper > img
		{
			position: absolute;
			top: 32px;
			right: 10px;
			width: 28px;
		}
		.custom-btm
		{
			background-color: #f2f2f2;
			color: #5F6368;
			font-size: 14px;
			height: 36px;
			padding: 0 16px;
			background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
			border: 1px solid transparent;
			box-shadow: 0 1px 1px rgba(0,0,0,0);
			color: #222;
			border-radius: 4px;
		}
		.custom-btm:hover
		{
			background-image:linear-gradient(top,#f8f8f8,#f1f1f1);
			border: 1px solid #c6c6c6;
			box-shadow: 0 1px 1px rgba(0,0,0,0.1);
			color: #222;
		}
		.custom-btm:first-of-type
		{
			margin-right: 7px;
		}
		#app-dropdown
		{
			width: 330px;
			padding: 28px;
			border: 1px solid #ccc;
			box-shadow: 0 2px 10px rgba(0,0,0,.2);
			position: absolute;
			right: 20px;
			display: none;
			border-radius: 10px;
		}
		.app-item
		{
			display: inline-block;
			width: 84px;
			margin-bottom: 18px;
			padding: 8px 2px;
			text-align: center;
		}
		.app-item:hover
		{
			border: 1px solid rgba(0, 0, 0, 0.2);
			border-radius: 8px;
			background-color: #EBF6FA;
			border:none;
			cursor: pointer;
		}
		.app-item > img
		{
			width: 50px;
			height: 50px;
		}
		.app-item >p 
		{
			color: rgba(0,0,0,0.87);
			margin: 0;
			padding-top: 8px;
			font-size: 14px;
			color: black;
		}

		#profile-pic1
		{
			border-radius: 25px;
			height: 45px;
			width: 45px;
		}
		#dropdown-wrapper
		{
			display: inline-block;
			cursor: pointer;
		}
		#dropdown-wrapper:hover #app-dropdown
		{
			display: block;
		}
		#lang
		{
			font-size: 13px;
			margin-top: 25px;
			text-align: center;
			padding: 0px 25px 0px 25px;
		}
		#lang-tag
		{
			color: blue;
		}
		#lang-tag:hover
		{
			cursor: pointer;
			text-decoration: underline;
		}

		.footer
		{

			background-color: #f2f2f2;
			color: #5F6368;
			padding: 0px !important;
			margin-top: 96px;
			overflow-x: hidden;
		}

		#location
		{
			border-bottom: 1px solid #D5DFE3;
			color: #5F6368;
			font-size: 15px;
			padding-left: 20px;
		}
		#footer-tag
		{
			border-bottom: 1px solid #D5DFE3;
			font-size: 15px;
			
		}

		#footer-link
		{
			color: #5F6368;
			font-size: 15px;
			text-decoration: none;
			padding-left: 6px;
			
		}

		#footer-link1
		{
			padding: 14px;
			color: #5F6368;
			font-size: 15px;
			text-decoration: none;
		}

		#footer-link:hover
		{
			text-decoration: underline;

		}

		#footer-link1:hover
		{
			text-decoration: underline;

		}

		@media screen and (max-width: 500px) 
		{
			#input-wrapper
			   { 
			   	display:block; 
			   	position: relative;
				width: 400px;
				display: inline-block;
				}

			#google-wrapper
				{
					padding-top: 20%;
				}

			.footer
			{

				background-color: #f2f2f2;
				color: #5F6368;
				padding: 0px !important;
				margin-top: 60px;
				overflow-x: hidden;
				text-align: center;
			}
			#footer_tag
			{
				display: block;
				text-align: center;
			}
			#footer_tag
			{
				display: none;
			}
		}

		#footer_tag
		{
			display: none;
		}

			.column {
			  float: left;
			  width: 50%;
			  padding: 15px;
			}

			.row:after {
			  content: "";
			  display: table;
			  clear: both;
			}
			* {
			  box-sizing: border-box;
			}

			#footer-right
			{
				text-align: right;
			}